
.boxDesign1 {
    height: 74px;
    width: 48px;
    background-color: var(--primary-color);
    top: 6px;
    position: relative;
    float: left;
}

.boxDesign2 {
    height: 74px;
    width: 48px;
    background-color: var(--secondary-color);
    top: 6px;
    position: relative;
    float: left;
}

.navbar {
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-style {
    width: 29em;
    height: 4em !important;
    padding-inline: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 30em;
}

.iconNav {
    font-size: 22px;
    padding-bottom: 2px;
}

.headingStyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 30px!important;
    margin-bottom: 8px;
}

.subHeadingStyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 24px;
}

.BasicTextStyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-block: 1em;
}
